@{
    ViewData["Title"] = "Admin Dashboard";
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_ViewLayout.cshtml";
}


<h1>Welcome to the Admin Dashboard</h1>
<p>Use this space to manage categories, posts, tags, and comments.</p>
