<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="JustBlogContext"
			 connectionString="Server=hao;Database=BasedProjectDb2;Trusted_Connection=True;MultipleActiveResultSets=true;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>